<section class="aboutOPNP">
    <h2>The Organ Pipes National Park</h2>
    <h3>The </h3>

    <h3>Post-colonial Organ Pipes</h3>
    <p>
        The Keilor Plains were settled in the 1830s, very early in the European occupation of Port Phillip by Tasmanian sheep-farmers, and the vegetation was seriously damaged very quickly. When rabbits and foxes were released, they soon invaded the grasslands of the plains. The land was already very marginal farmland, with thin soils and rocky, uneven surface. But smallholders tried anyway and in the process did a lot of ecological damage. There is a history of dairying and oat cropping. Oat grass is still a major weed in the park. The area was a focus for Field Naturalists excursions

        In the 1950s, Edward Green, a property speculator, purchased the property from the Bartlett family of dairymen. After his death in 1961 the trustee of his estate tried to separate the unsaleable steep valley of Jackson’s Creek from the saleable properties on the plateau and donate the useless bit to the state government, which was very reluctant to take responsibility for it.

        Eventually the transfer was achieved and the government wondered what to do with this ecological disaster zone, surrounded by a devastated landscape. Geologists wanted protection for the basalt formations and the only option at the time was to make it into a National Park. The National Parks Act of 1975 created other options but in 1972 these were not available. So a line was drawn around a property totally covered in weeds and farm rubbish, suffering severe gully erosion, and it was called a National Park. It was gazetted just 30 years ago last month, so this seminar is its 30th anniversary celebration. The trustee of the Green estate, Stan Payne, was asked to recommend someone as caretaker of the property and named the husband of his office receptionist, Jack Lyale. For several months Jack was caretaker, then when the property achieved National Park status he was appointed its first ranger and stayed until he retired 17 years later.

        First tasks were to replace the dilapidated fences and create a barrier to exclude rabbits and foxes, start efforts to control those within the boundary, set up an entrance road and car park for the rapidly increasing number of park visitors (estimated to have been about 30,000 in its second year!), and get a shed erected for an office. For almost two years there was no building on the property to use as an office or to store tools, no telephone, no power, nowhere to shelter when it rained and nowhere to house any educational material for the large number of school groups taken on excursions to the park – a fibro box was built late in 1973 and within 9 weeks was broken into and tools stolen. Jack was allowed to employ several labourers to get on with the tough work of fencing steep rocky slopes and tackling the huge quantity of boxthorn and Artichoke Thistle covering much of the surface. The National Parks Service poured vast quantities of herbicide onto some parts of the park to control Horehound and thistles. The corps of labourers cut and painted boxthorns by the thousand and many dried-out stumps can still be found on slopes all around the park.
    </p>
</section>

<section class="aboutFOOPs">
    <h2>The Friends of the Organ Pipes group</h2>

    <h3>Contacts</h3>
    Convener: 
    Loretta Beliniak
    0401 493 176
    info@friendsoforganpipes.org.au
    

    Treasurer:
    Robert Irvine
    11 Mudie Ave,
    Sunbury, 3429, Australia
    03 9744 6395 home
</section>
