<h1>Update working bee dates</h1>
<%# <h2>Which month do you wish to update?</h2> %>

<form action="/wbdates" method="post">
    <input type="hidden" name="_method" value="put">

    <% dates.each do | date |%>

        <div>
            <label for=""><%= date["month"]%></label>
            <input type="date" name="<%= date["id"] %>" value="<%= date["date"]%>">
        </div>

    <% end %>

    <button>Update</button>

</form>

