<h1>Edit working bee dates</h1>
<h2>Which month do you wish to update?</h2>

<% dates.each do | date |%>
        <div>
            <a href="/wbdates/<%= date["id"]%>/edit"><%= date["month"] %> </a>
        </div>
<% end %>