<form action="/update_date/<%= date["id"]%>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
        <label for=""><%= date["name"]%></label>
        <input type="date" name="date" value="<%= date["date"]%>">
    </div>

    <button>Update</button>

</form>

<a href="/edit">Return to all dates</a>