<form action="/wbdates/<%= date["id"]%>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
        <label for=""><%= date["month"]%></label>
        <input type="date" name="date" value="<%= date["date"]%>">
    </div>

    <button>Update</button>

</form>

<a href="/wbdates">Return to all dates</a>