<div class="parallax">
    <div class="intro-container">

        <h1>Welcome to the Friends of the Organ Pipes National Park (FOOPs)</h1>
        <p>
            We're Victoria's oldest Friends of a National Park group, and have been dedicated to the care of the Organ Pipes National Park since 1972. Located just 40 minutes north-west of the CBD, the Organ Pipes National Park is Melbourne's closest
            national park. Nestled at the heart of the park are the unique basalt columns known as the Organ Pipes, which have made the area a premier natural attraction.
        </p>
        <p>
            In the past, much of the area within the park was used for farming, which degraded the native flora and soil quality, allowing invasive species to thrive. Our mission as FOOPS is to restore the land within the Organ Pipes National Park as
            much as possible to its pre-European settlement condition.
        </p>
        <p>
            FOOPs pay our respects to the traditional custodians of the land on which we work, the Wurundjeri people of the Kulin Nation. We acknowledge their ongoing connection to, and care of, this land. We pay our respects to their Elders, past and
            emerging, and thank the Wurundjeri Tribe for their ongoing collaboration with us on our projects.
        </p>

    </div>
</div>

<div class="second-container">
    <div class="wb-text">
        <h2>Working Bees</h2>
        <p>
            We hold working bees at the Organ Pipes National Park on the last Saturday of every month. The work we do varies each month depending on the needs of the park. It often involves planting and maintaining native flora, removing invasive species
            like prickly pear and bridal veil, and monitoring wildlife. </p>
        <p>
            You can register to join a working bee through Parks Victoria at <a href="https://www.parkconnect.vic.gov.au/Volunteer/group-details-public/?id=d10d7633-272a-e711-810a-c4346bc58654" target="_blank">ParkConnect</a>. You can also contact our convener, Loretta
            Beliniak, on <strong>0401 493 176</strong> for more information about our working bees. </p>
        <p>
            Further information about FOOPs, our activities and the benefits of joining us can be found at the <a href="/join">Join&nbsp;us</a> page.
        </p>
    </div>
    <div class="wb-dates">
        <h2>Upcoming working bee dates </h2>
        <img src="/images/logo-round.png" class="round-logo" />
        <% dates.each do | date |%>
            <% d = Date.parse(date["date"]) %> 
            <% if d > Date.today %>
                <p>
                    <%= d.strftime('%d %B %Y') %>
                </p>
            <% end %>
        <% end %>
        
    </div>
</div>