<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Friends of the Organ Pipes National Park (FOOPs)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&family=Quicksand:wght@400;600&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fb4fd08916.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="page-container">
        <header>
            <img src="/images/banner.png" alt="logo" />
            <a class="navbar-brand" href="/"> FOOPs </a>

            <nav>
                <!-- <ul>
                <li><a href="#"> About</a> </li>
                <ul class="submenu">
                    <li><a href="#">The Organ Pipes National Park</a>  </li>
                    <li><a href="#">FOOPs</a>  </li>
                </ul>
                <li><a href="#"> Join us</a> </li>
                <li><a href="#"> Projects</a> </li>
                <ul class="submenu">
                    <li><a href="#">Bat box monitoring</a>  </li>
                    <li><a href="#">Sugar glider monitoring</a>  </li>
                </ul>
                <li><a href="#"> Resources</a> </li>
                <ul class="submenu">
                    <li><a href="#">Bibliography</a>  </li>
                    <li><a href="#">Additional websites</a>  </li>
                </ul>

                </ul>
            </div>  -->
                <ul>
                    <li><a class="droptext" href="/">Home</a></li>
                    <li><a class="droptext" href="/about">About</a>
                        <ul class="dropdown">
                            <li><a href="#">The Organ Pipes National Park</a></li> 
                            <li><a href="#">FOOPs</a></li>
                        </ul>
                    </li>
                    <li><a class="droptext" href="/join">Join us</a></li>
                    <li><a class="droptext" href="/projects">Projects</a>
                        <ul class="dropdown">
                            <li><a href="#batboxes">Bat box monitoring</a></li>
                            <li><a href="#sugargliders">Sugar glider monitoring</a></li>
                        </ul>
                    </li>
                    <li><a class="droptext" href="/resources">Resources</a>
                        <ul class="dropdown">
                        <li><a href="#">Bibliography</a></li>
                        <li><a href="#">Additional websites</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

    <main>
        <%= yield %>
    </main>

        <footer>
            <div class="footer-text">
                <p>
                    ABN: 52283424923<br />
                    Reg: A0023884A
                </p>
            </div>

            <div class="footer-text" id="copyrightYear">
                <p>
                    FOOPs acknowledge the traditional custodians of the area known as the Organ Pipes, <span class="acknowledgements">  the Wurundjeri people of the Kulin Nation.</span>
                </p>
                <p>
                    Copyright &copy; Friends of the Organ Pipes National Park <%= Date.today.year %>
                </p>
            </div>
            <div class="footer-text">
                <p>
                    <a href="https://twitter.com/foopsnp" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/foopsnp" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/FriendsofOrganPipes/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <br />
                    info@friendsoforganpipes.org.au
                </p>
            </div>

        </footer>
    </div>
</body>

</html>