/* To do
/* dropdown menus */
/* redo header bar to use flexbox? */
/* footer covers content at small screen sizes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 6rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px 0;
  font-size: 18pt;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  margin: 0 0 15px 0;
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  font-size: 11.5pt;
  padding: 5px;
}

a {
  color: #1C7947;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #e1701a;
  text-decoration: underline;
}

header {
  background-color: #e8e0d8;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 100%;
  margin: 0;
  padding: 15px 0;
}

.navbar-brand {
  flex: 1;
  text-align: left;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 55pt;
  padding: 0 20px;
  color: #e1701a;
  margin: 0;
  line-height: 1.3;
}

.navbar-brand:hover {
  text-decoration: none;
}

header img {
  flex: 0.5;
  border-radius: 5px;
  width: 250px;
  float: left;
  margin: 10px 20px 10px 50px;
}

nav {
  flex: 2;
  text-align: right;
  padding: 62px 2% 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition-duration: 0.5s;
}

nav li:hover {
	cursor: pointer;
}

nav a {
  color: #000
}

nav a:hover {
  text-decoration: none;
}

nav ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  /* display: none; */
}

nav ul li:hover > ul, nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
	clear: both;
  width: 100%;
}


/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 10pt;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown {
  color: #1C7947;
} */

.parallax {
  background-image: url("/images/Organ-Pipes-National-Park-@Wikimedia-Commons.jpg");
  min-height: 35%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px;
  z-index: -1;
}

.intro-container {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px 90px;
  width: 50%;
  margin: 10px 40px;
  padding: 40px 100px 40px 60px;
}

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #F7F5F2;
  padding: 80px 0;
  margin: 0;
}

.wb-text {
  flex: 1;
  max-width: 40%;
  padding: 30px;
}

.wb-dates {
  flex: 1;
  max-width: 30%;
  background-color: #ffbd59;
  box-shadow: 5px 5px #ffde59;
  border-style: solid;
  border-width: 2px;
  border-color: #f0820d;
  padding: 40px;
  margin-left: 120px;
}

.round-logo {
  max-width: 140px;
  float: right;
}

footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #339937;
  bottom: 0;
  width: 100%;
  min-height: 130px;
}

footer p {
  font-family: 'Quicksand', sans-serif;
  font-size: 9.5pt;
  color: #F7F5F2;
  text-align: center;
}

.footer-text {
  flex: 1;
  width: 33.33%;
  margin: 10px 0 0;
  vertical-align: middle;
}

.acknowledgements {
  white-space: nowrap;
}

.fab {
  font-size: 20pt;
  color: #ffbd59;
  margin: 2% 2.7%;
}

.fab:hover {
  color: #f0820d;
}

@media only screen and (max-width: 1900px) {
  h1 {
    font-size: 16pt;
  }

  h2 {
    font-size: 14pt;
  }

  .parallax {
    padding: 60px;
  }

  .intro-container {
    width: 65%;
    padding: 40px;
  }

  .wb-dates {
    margin-left: 65px;
  }

  .acknowledgements {
    white-space: normal;
  }
}

/* for laptops/small screens */
@media only screen and (max-width: 1024px) {

  .intro-container {
    width: 75%;
    padding: 30px;
  }

  .second-container {
    flex-direction: column;
  }

  .wb-text {
    flex: 0 1 auto;
    max-width: 70%;
    margin: 0 auto;
  }
  .wb-dates {
    flex: 0 1 auto;
    max-width: 60%;
    margin: auto;
  }

  footer {

  }

}

/* for mobiles */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 15pt;
  }

  p {
    font-size: 11pt;
  }

  .parallax {
    background-attachment: scroll;
    padding: 10px;
  }

  .intro-container {
    width: 90%;
    padding: 20px;
  }
}

/* for ipads */
@media only screen and (max-width: 768px) {}
